.header{
   position: absolute;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 10;
 }
 .header:before{
   position: absolute;
   content: '';
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   z-index: 2;
 }
 .header__body{
   position: relative;
   display: flex;
   height: 132px;
   align-items: center;
 }
 .header__logo{
  position: relative;
  z-index: 11;
  width: 44px;
  height: 80px;
  overflow: hidden;
  margin: 0px 0px 0px 77px;
 }
 .header__logo img{
   max-width: 100%;
   z-index: 51;
   margin: 0px -90px 0px 0px;
 }
 .header__burger{
   display: none;
 }
 .header__list{
   position: relative;
   z-index: 2;
   display: flex;
   margin: 0px 0px 0px 100px;
 }
 .header__list li{
   margin: 0px 0px 0px 69px;
 }
 .header__link{
  font-family: 'Roboto';
  font-style: normal;
  margin: 0px 0px 0px 60px;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #203E86;
  text-decoration: none;  
 }
 .header__button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 37px;
  gap: 10px;
  z-index: 5  ;
  position: absolute;
  width: 262px;
  height: 48px;
  left: 1118px;
  top: 38px;
  background: #203E86;
  border-radius: 20px;
  margin: 0px 0px 0px 60px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
 }
 .header__logotext{
  position: absolute;
  width: 51px;
  height: 22px;
  left: 42px;
  top: 85px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 17.8059px;
  line-height: 22px;
  color: #0084C0;
  text-decoration: none;
 }
 .header__green{
  position: absolute;
  width: 59px;
  height: 22px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 17.8059px;
  line-height: 22px;
  color: #96C22B;
 }
 @media (max-width:767px){
   body.lock{
     overflow: hidden;
   }
   .header__body{
     height: 50px;
   }
   .header__logo{
     flex: 0 0 40px;
   }
   .header__burger{
     display: block;
     position: relative;
     height: 30px;
     width: 20px;
     z-index: 3;
   }
   .header__burger:before,
   .header__burger:after{
     position: absolute; 
     content: '';
     background-color: rgba(32, 62, 134, 1);
     width: 100%;
     height: 2px;
     left: 0; 
     transition: all 0.3s ease 0s;
   }
   .header__burger span{
     position: absolute; 
     background-color: rgba(32, 62, 134, 1);
     width: 100%;
     height: 2px;
     top: 13px;
     left: 0; 
     transition: all 0.3s ease 0s;
   }
   .header__burger:before{
     top: 5px;
   }
   .header__burger:after{
     bottom: 7px;
   }
   .header__burger.active:before{
     transform: rotate(45deg);
     top: 13px;
   }
   .header__burger.active:after{
     transform: rotate(-45deg);
     bottom: 15px;
   }
   .header__burger.active span{
     transform: scale(0);
   }
   .header__menu{
     position: fixed;
     top: -100%;
     left: 0;
     width: 100%;
     height: 100%;
     overflow: auto;
     background-color: #18b5a4;
     padding: 70px 10px 20px 10px;
     transition: all 0.3s ease 0s;
   }
   .header__menu.active{
     top: 0;
   }
   .header__list{
     display: block
   }
   .header__list li{
     margin: 0px 0px 20px 0px;
   }
   .header__link{
     font-size: 24px;
   }
 }