.service__body {
  /* position: absolute; */
 }
.service__title{
  /* position: absolute; */
  font-family: 'Sensei';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  color: #203E86;
 }
.service__row{
  display: flex;
  margin: 0px -15px;
 }
.service__column{
  flex: 0 0 35%;
  padding: 0px 15px;
 }
 .item-service__text{
  position: relative;
  margin: 36px 0px 0px 120px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #4F4F4F;
  white-space: nowrap;
 }
 .item-service__figure{
  position: relative;
  width: 231.8px;
  height: 230.77px;
  margin: 160px 0px 0px 94px;
 }
.item-service__icon{
  position: absolute;
  z-index: 6;
  width: 108px;
  height: 108px;
  margin: 51px 0px 0px 166px;
}

