.request__title{
   position: absolute;
   width: 375px;
   height: 58px;
   left: 638px;
   top: 2971px;
   font-family: 'Sensei';
   font-style: normal;
   font-weight: 400;
   font-size: 48px;
   line-height: 58px;
   color: #203E86;
}
.request__text{
   position: absolute;
   width: 737px;
   height: 28px;
   left: 424px;
   top: 3058px;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   font-size: 24px;
   line-height: 28px;
   color: #4F4F4F;
}
.request__back{
   position: absolute;
   width: 510px;
   height: 482.28px;
   left: 981px;
   top: 3205.8px;
}
.request__image{
   position: absolute;
   z-index: 5;
   width: 257.36px;
   height: 489.33px;
   left: 1050px;
   top: 3249px;
}
.item-request__name{
   box-sizing: border-box;
   position: absolute;
   width: 478px;
   height: 69.22px;
   left: 188px;
   top: 3198px;
   border: 2.18598px solid #96C22B;
   border-radius: 21.2992px;
}
input[type=text]::placeholder {
   position: absolute;
   width: 170px;
   height: 25px;
   margin: 20px 0px 0px 0px;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   font-size: 21.2992px;
   line-height: 25px;
   color: #828282;
 }
 textarea[type=text]::placeholder {
   position: absolute;
   width: 170px;
   height: 25px;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   font-size: 21.2992px;
   line-height: 25px;
   color: #828282;
   white-space: nowrap;
 }
 input{
   font-family:"Roboto";
   padding:0px 0px 0px 15px;
   font-size: 21.2992px;
 }
textarea {
   font-family:"Roboto";
   padding: 25px 0px 0px 15px;
   font-size: 21.2992px;
 }
 .item-request__number{
   box-sizing: border-box;
   position: absolute;
   width: 478px;
   height: 69.22px;
   left: 188px;
   top: 3300.24px;
   border: 2.18598px solid #96C22B;
   border-radius: 21.2992px;
}
.item-request__message{
   box-sizing: border-box;
   position: absolute;
   width: 478px;
   height: 265.18px;
   left: 188px;
   top: 3402.47px;
   border: 2.18598px solid #96C22B;
   border-radius: 21.2992px;
   resize: none;
}
.request__ellipse6{
   position: absolute;
   width: 307.9px;
   height: 307.9px;
   z-index: -1;
   left: 0px;
   top: 3020px;
}
.request__ellipse1{
   position: absolute;
   z-index: -1;
   width: 121.22px;
   height: 121.22px;
   left: 200px;
   top: 3320px;
}
.request__ellipse3{
   position: absolute;
   width: 65.46px;
   height: 65.46px;
   left: 404px;
   top: 3110px;
}
.request__button{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   padding: 14px 53px;
   gap: 10px;
   position: absolute;
   width: 245px;
   height: 64px;
   left: 421px;
   top: 3699px;
   background: #96C22B;
   border-radius: 20px; 
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 600;
   font-size: 24px;
   line-height: 36px;
   color: #FFFFFF;
   flex: none;
   order: 0;
   flex-grow: 0;
   transition: background-color 0.5s ease 0s;
}
.request__button:hover {
   background-color: #0084C0;
 }