.contacts__body{
   position: absolute;
   width: 376px;
   height: 279px;
   left: 532px;
   top: 3924px;
}
.contacts__title{
   position: relative;
   width: 376px;
   height: 58px;
   margin: 0px 0px 0px 90px;
   font-family: 'Sensei';
   font-style: normal;
   font-weight: 400;
   font-size: 48px;
   line-height: 58px;
   color: #203E86;
}
.contacts__row{
   display: flex;
   margin: 0px -15px;
}
.contacts__column{
   flex: 0 0 33%;
   padding: 0px 15px;
}
.item-contacts__icon{
   position: absolute;
   margin: 48px 0px 0px 120px;
}
.contacts__number{
   position: absolute;
   width: 195px;
   height: 28px;
   margin: 145px  0px 0px 180px;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   font-size: 24px;
   line-height: 28px;
   color: #000000;
}
.contacts__ellipse1{
   position: absolute;
   width: 168.44px;
   height: 168.44px;
   left: 1020px;
   top: 3820px;
}
.contacts__ellipse5{
   position: absolute;
   width: 353px;
   height: 429px;
   left: 1205px;
   top: 3890px;
}
.contacts__ellipse3{
   position: absolute;
   z-index: -1;
   width: 90.95px;
   height: 90.95px;
   left: 890px;
   top: 4010px;
}
.contacts__ellipse6{
   position: absolute;
   width: 40px;
   height: 40px;
   left: 990px;
   top: 4110px;
}
.contacts__ellipse4{
   position: absolute;
   width: 46px;
   height: 46px;
   left: 970px;
   top: 4260.92px;
}
